*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#description {
  resize: none;
  background-color: rgb(246, 246, 246);
  border-radius: 5px;
  border: 1px solid rgb(220, 219, 219);
  margin-top: 10px;
}
label[for="datetime"]::before{
  content: "🗓️ " ;
}
input[placeholder="Title"]{
  height: 40px;
  font-size: 1.5rem;
  font-weight: 600;
}
.event-dropdown{
  margin-top: 10px;
}